* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
  background-color: cornflowerblue;
}

main {
  margin: 0 auto;
  max-width: 968px;
  height: 100vh;
  background-color: darkgreen;

}

.container {
  display: flex; /* Tomar todo el ancho disponible */
  display: inline-flex; /* Tomar elancho de los elementos */
  background-color: cadetblue;
}

.item {
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 36px;
  background-color: darkslateblue;
  border: 2px solid lightslategray;
}

/* https://bit.ly/4k */