/* 

Flex Shrink

Es una de las 3 prioridades que reciben los elementos (item) dentro de un contenedor (container) con display:flex

flex-shrink -> Define cuanto puede encogerse un elemento si el contenedor es mas pequeño que el tamaño total de los elementos.

* Valor por defecto 1: Se encoge si es necesario.
* Si se pone , no se encoge.
* Funciona proporcionalmente como flex-grow
* Los items deben tener un ancho o flex-basis definido.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color:darkslategrey;
}

.container{
  display: flex;
  background-color: #305165;
}

.item{
  width: 300px;
  flex-shrink: 1;/*  Valor por defecto. Se encoja como sea necesario */

  background-color: #5e929f;
  border: 1px solid #e1eabb;
}

.item-1{
  flex-shrink: 0; /* no se encoje */
}

.item-2{
  flex-shrink: 1; /* Default */
}

.item-3{
  flex-shrink: 2;
}

.item-4{
  flex-shrink: 3;
}