/* 
Flex Grow 

Es una de las tres prioridades que reciben los elementos (items) contenidos en un contenedor (container) con display:flex

flex-grow -> Define cuanto puede crecer un elemento si hay espacio disponible en el contenedor.
  
  * El valor por defecto es 0: Nocrece
  * Si te damos un valor de 1: Crecera para ocupar el espacio disponible.
  * Podemos dar valores mayores a 1, entre mas alto el valor el elemento ocupa mayor espacio disponible.
  * Si varios elementos yirnr distintos valores, el espacio se repartye proporcionalmente.
  
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color:royalblue;
}

.container{
  display: flex;
  flex-direction: row-reverse;
  flex-direction: column;

  height: 700px;
  background-color: #305165;
}

.item{
  flex-grow: 0; /* Default no crece */
  flex-grow: 1; /* Factor de crecimiento */
  border: 1px solid #e1eabb;
  background-color: #5e929f;
}

.item-1{
  flex-grow: 0; /* no crece */
}

.item-2{
  flex-grow: 1; /* crece en un factor de 1 */
}

.item-3{
  flex-grow: 2; /* crece en un factor de 2 */
}

.item-4{
  flex-grow: 3; /* crece en un factor de 3 */
}